<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>随州</string>
		<key>description</key>
		<string>欢迎来到随州</string>
		<key>latitude</key>
		<integer>113</integer>
		<key>longitude</key>
		<integer>31</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>武汉</string>
		<key>description</key>
		<string>欢迎来到武汉</string>
		<key>latitude</key>
		<integer>114</integer>
		<key>longitude</key>
		<integer>30</integer>
	</dict>
</array>
</plist>
